<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="unis.Properties.dataGridsettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="unis.Properties.Settings.UNISConnectionString" connectionString="Data Source=ANVJHB-PC\DEV_SQLEXPRESS;Initial Catalog=UNIS;Persist Security Info=True;User ID=jj" providerName="System.Data.SqlClient"/>
        <add name="unis.Properties.dataGridsettings.Checked" connectionString="False" providerName=""/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <unis.Properties.dataGridsettings>
            <setting name="in_out" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="c_name" serializeAs="String">
                <value/>
            </setting>
        </unis.Properties.dataGridsettings>
    </userSettings>
</configuration>
